:root {
    --primary-color: darkgreen;
    --hover-color: black;
    --transition-animations: all .2s ease-in-out;
    --box-shadow: 2px 2px 2px 1px green;
    --text-shadow: 1px 1px 2px darkgreen, 0 0 1em green, 0 0 0.2em lightgreen;
    --header-spacing: 3rem;
    --small-spacer-gap: 1rem;
    --container-width: 80%;
}

body {
    height: 100%;
}

a {
    text-decoration: none;
    transition: var(--transition-animations);
}

a:hover {
    color: var(--hover-color);
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

.header-spacing {
    margin: var(--header-spacing) 0;
}

.special-font {
    font-family: "Caveat", cursive;
}

.underline-effect {
    width: 100%;
    border-bottom: 2px solid green;
}

.dark-mode {
    color-scheme: dark light;
}

/* nav section start */

.header-container {
    margin-inline: auto;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.header-nav {
    width: 70%;
    margin-inline: auto;
    justify-content: center;
    gap: .5rem;
    padding-block: 3rem;
}

.nav-container {
    width: 200px;
    color: var(--primary-color);
    background-color: white;
    border: 1px solid var(--primary-color);
    text-align: center;
    transition: var(--transition-animations);
}

.nav-container:hover {
    border: 1px solid var(--hover-color);
    cursor: pointer;
    box-shadow: var(--box-shadow);
    color: var(--hover-color);
}

.light-dark-mode-button {
    transition: var(--transition-animations);
}

.light-dark-mode-button:hover {
    cursor: pointer;
    box-shadow: var(--box-shadow);
    color: var(--hover-color);
}

/* nav section end */
/* footer section start */

footer {
    background-color: grey;
    height: 100px;
    margin-top: auto;
}

/* footer section start */