:root {
    --primary-color: darkgreen;
    --hover-color: black;
    --transition-animations: all .2s ease-in-out;
    --box-shadow: 2px 2px 2px 1px green;
    --text-shadow: 1px 1px 2px darkgreen, 0 0 1em green, 0 0 0.2em lightgreen;
}

body {
    height: 100%;
}

a {
    text-decoration: none;
    transition: var(--transition-animations);
}

a:hover {
    color: var(--hover-color);
}

h1 {
    font-size: 5rem;
}

.flex {
    display: flex;
}

.col {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

/* nav section start */

.header-nav {
    width: 80%;
    margin-inline: auto;
    gap: .5rem;
    padding-block: 3rem;
}

.nav-container {
    width: 200px;
    color: var(--primary-color);
    background-color: white;
    border: 1px solid var(--primary-color);
    text-align: center;
    transition: var(--transition-animations);
}

.nav-container:hover {
    border: 1px solid var(--hover-color);
    cursor: pointer;
    box-shadow: var(--box-shadow);
    color: var(--hover-color);
}

/* nav section end */
/* footer section start */

footer {
    background-color: white;
    height: 100px;
    margin-top: auto;
}

/* footer section start */