.hero {
    background-image: url("../images/island\ test.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    width: 100%;

    justify-content: center;
    align-items: center;
}

.hero-h1 {
    font-size: 6rem;
    text-shadow: var(--text-shadow);
}

.information-cards-container {
    margin-inline: auto;
    width: var(--container-width);
    border: 1px solid #555;    
}

.card-container {
    gap: var(--small-spacer-gap);
    justify-content: center;
    text-align: center;
}

.card-container a:hover {
    color: var(--primary-color);
}

.info-card {
    max-width: 100%;
    aspect-ratio: 1.4 / 2;
    object-fit: cover;
}