.transportation-container {
    margin-inline: auto;
    width: var(--container-width);
    border: 1px solid #555; 
}

.transportation-content-container {
    gap: var(--small-spacer-gap);
    margin-bottom: 3rem;
}

.transportation-info-text {
    gap: var(--small-spacer-gap);
}

.transportation_image {
    max-width: 100%;
    aspect-ratio: 2 / 1.4;
    object-fit: cover;
}